@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*{
      margin: 0;
      padding: 0;
      font-family: 'Montserrat', sans-serif;
    }
:root{
    --main-color: #F4F4F2;
    --sub-color: #292f36;
    --third-color: #4ECDC4;
    --forth-color: #FF6B6B;
}

body{
    height: 100%;
    background-color: var(--main-color);
}

section{
    text-align: center;
}

section h3{
    font-weight: bolder;
    font-size: 30px;
    color: var(--third-color);
}

section a:not(#login):not(.fa-brands){
    text-decoration: none;
    color: var(--sub-color);
    font-size: 16px;
}

.input{
    text-decoration: none;
    display: block;
    height: 50px;
    width: 300px;
    margin: 12px auto;
    text-align: left;
    color: var(--main-color);
    font-size: 16px;
    padding: 0 15px;
    border: 1px solid var(--third-color);
    border-radius: 6px;
    text-indent: 6px;
    background-color: var(--sub-color);
}

#login{
    text-decoration: none;
    display: block;
    height: 50px;
    width: 300px;
    text-align: center;
    color: var(--sub-color);
    font-size: 20px;
    background-color: var(--third-color);
    border: 1px solid var(--third-color);
    border-radius: 6px;
    font-weight: bolder;
    padding: 10px 15px;
    text-transform: uppercase;
    margin: 0 auto;
}

section div a{
    font-size: xx-large;
    color: var(--sub-color);
    margin: 0 10px;
}
.radio{
    display: inline-block;
    text-decoration: none;
    height: 50px;
    width: 150px;
    margin: 12px 0;
    text-align: left;
    color: var(--main-color);
    font-size: 20px;
    margin: auto;
    padding: 10px 0;
    border: 1px solid var(--third-color);
    border-radius: 6px;
    text-indent: 6px;
    background-color: var(--sub-color);
}
  label {
    display: inline-block;
}
  
@media screen and (max-width: 980px){
    section{
        padding-top: 150px;
    }
}
@media screen and (max-width: 760px){
    section{
        padding-top: 60px;
    }
}