@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
:root{
    --main-color: #F4F4F2;
    --sub-color: #292f36;
    --third-color: #4ECDC4;
    --forth-color: #FF6B6B;
}
.container{
    display: grid;
    justify-content: center;
    align-items: center;
}
#profile{
    width: 400px;
    height: 100vh;
    background-color:var(--main-color);
}
#profile div:first-child{
    display: grid;
    justify-content: center;
    align-items: center;
}
#profile div img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border-top: 5px solid var(--forth-color);
}
#links ul li a{
    text-decoration: none;
    color: var(--sub-color);
}
#links ul{
    margin-top: 70px;
    margin-left: 20px;
}
#links ul li{
    list-style: none;
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding-top: 4px;
}