@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*{
      font-family: 'Montserrat', sans-serif;
}
:root{
    --main-color: #F4F4F2;
    --sub-color: #292f36;
    --third-color: #4ECDC4;
    --forth-color: #FF6B6B;
}
#start{
    display: none;
}
section h4{
    font-weight: bolder;
    font-size: 30px;
    color: var(--third-color);
}
section div a{
    text-decoration: none;
    display: block;
    height: 50px;
    width: 300px;
    text-align: center;
    color: var(--sub-color);
    font-size: 20px;
    background-color: var(--third-color);
    border: 1px solid var(--third-color);
    border-radius: 6px;
    font-weight: bolder;
    padding: 10px 15px;
    text-transform: uppercase;
}
section div a:last-of-type{
    background-color: var(--main-color);
    border: none;
}
a:hover{
    color: black;
}
img:last-of-type{
    height: 300px;
    width: 300px;
}
#img img{
    width: 80%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    animation-name: img;
    animation-duration: 3s;
}
@keyframes img{
    from{
        opacity: .4;
    }
    to{
        opacity: 1;
    }
}
@media screen and (max-width: 600px) {
    section{
        padding-top: 50px;
    }
    section h4{
        font-size: 22px;
    }
}
@media (min-width: 600px) and (max-width: 950px) {
    section{
        padding-top: 80px;
    }
    section img{
        width: 150px;
        height: 150px;
    }
    section h4{
        font-size: 25px;
    }
}